body{
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;

}
a{
	text-decoration:none;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.min{
	display: none!important;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
input:focus {
	outline:0;
}
input{
	background-color: rgba(0,0,0,0);
	border-width: 0px 0px 1.5px 0px;
	border-style: dashed;
	font-size:1.5rem;
}
.border-width-1{
	border-width: 0.1rem;
	border-style: solid;
}
.border-color-red{
	border-color: #ea4d33;
}
.border-color-white{
	border-color: white;
}
.button-padding{
	padding: 0.8rem 2rem;
}
.button-color-red{
	background-color: #ea4d33;
	color:#fff;
}
.button-color-green{
	background-color: #7AC59A;
	color:#fff;
}
.button-font-size{
	font-size: 1.6rem;
}
.section.orange{
	background-color: #fcefe4;
}
.section.gray{
	background-color:#f1f2f2;

}
.section.padding.top{
	padding: 1rem;
}
.section.padding.bottom{
	padding: 1rem;
}
.section .row{
	display: flex;
	flex-direction: row;


}
.text-color-red{
	color:#ea4d33;
}
.text-centered{
	text-align: center;
}
.logo {
	height:1.2rem;
}
.section.padding-left-right{
	padding: 2em 5em;
}
.white{
	color:#fff;
}
.header-image{
	background-image: url(landing.jpg);
	height: 100vh;
	width: 100vw;
	background-size: cover;
	display: flex;
	flex-direction: column;
	
}
.navi{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 3rem 3rem 0rem 3rem;
	min-height: 120px;
}
.navi div{
	flex:1;
}
a.button{
	justify-content: center;
	padding: 0.8rem 1.5rem;
	line-height: 2.5rem;
	font-size: 1.6rem;
}


.header-content{
	display: flex;	
	flex:1;
	justify-content: flex-end;
	align-items: flex-start;
	font-size:3rem;
	color:#fff;
	padding:1rem 3rem;
	text-align: right;
}
.signIn{
	position: relative;
	top: -3rem;
	
	border-radius: 1rem;
	display:flex;
	padding:1rem;
}

.section.column{
	display:flex;
	flex-direction: row;
}
.section.left.right{
	margin-left: 5rem;
	margin-right: 5rem; 
}
.section.top{
	margin-top:5rem;
}
.section image{
	width:100%;
}
.section image{
	width:100%;
}
.signIn .form{
	flex:1;
	align-items: center;
	justify-content: center;
}
.signIn .content{
	flex:2;
	display:flex;
	flex-direction: column;
	color:#ea4d33;
	font-size:2.5rem;
	justify-content: center;
}

.image{
	flex:3;
	justify-content: center;
    align-items: center;
    display: flex;
}
.image img{
	width:100%;
	border-radius: 1rem;
	
}
.wording{
	flex:2;
	padding:2rem;
}
.header-title {
	font-size:2.5rem;
	line-height:2.5rem;
	padding:1rem;
}
.header-sub-title{
	font-size:3rem;
	line-height:3rem;
}
.header-sub-content{
	font-size:2rem;
	line-height:3rem;	
}
.content{
	font-size:1.5rem;
	color:#a7a9ac;
	padding:1rem;
}

.step.block{
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:3rem;
	font-size: 1.5rem;
}
.step.icon{
	margin:1rem;
	background-position: center;
	flex:1;
	height:15rem;
	width:15rem;
	background-size:contain;background-repeat:no-repeat;
}
.step.block img{
	width:70%;
}
.footer-logo{
	width:16rem;
	margin:2rem;
}
.social.icon{
	margin:1rem;
	background-position: center;
	flex:1;
	height:2rem;
	width:2rem;
	background-size:contain;background-repeat:no-repeat;
}
footer{
	background-color: #424143;
	padding-top:75px;
	padding-bottom:75px;
}
footer  *{
	font-size:2rem;
	color:#fff;
	text-align: center;
	

}
@media (max-width:900px ) {
	html{
		font-size:14px;
	}
}
@media (max-width:620px ) {
	html{
		font-size:12px;
	}
	.signIn{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.section{
		flex-direction: column!important;
	}
	.section.left.right{
		margin-left: 0rem;
		margin-right: 0rem; 
	}
	.section.top{
		margin-top:0rem;
	}
	.step.block{
		padding:1rem;
	}
	.signIn.left.right{
		margin-left: 1rem;
		margin-right: 1rem; 
	}
	.section .image{
		padding:1rem 1rem 0rem 1rem;
	}
	.section .wording{
		padding:1rem;
	}
	.section .row{
		flex-direction: column;
	}
	.wide{
		display: none!important;
	}
	.min{
		display: block!important;
	}
}
@media (max-width:480px ) {
	html{
		font-size:10px;
	}
}
